/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.editor-styles-wrapper
.wp-block-dc-events-manager-event-query.events__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    .event {}

    @media screen and ( min-width: 720px ) {
        .event {
        }
    }
}
